# fly.toml app configuration file generated for bugtracker-backend-lively-rain-8093 on 2026-01-04T17:32:39-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bugtracker-backend-staging-lively-rain-8093'
primary_region = 'iad'

[build]

[env]
  DB_PATH = '/data/bugs.db'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
