# fly.toml app configuration file generated for bugtracker-frontend-white-brook-6357 on 2026-01-04T17:43:02-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bugtracker-frontend-white-brook-6357'
primary_region = 'iad'

[build.args]
  NEXT_PUBLIC_BACKEND_URL = 'https://bugtracker-backend-lively-rain-8093.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
